body {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 2;
    /* background-image: url(../pictures/nice.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 70vw;
    height: 70vh;
}

.container {
    margin: 10vw;
    margin-left: 30vw;
    width: 40vw;
    height: 60vh;
    background-color: #f0eeee;
    /* border: 1.5px solid rgb(130, 129, 129); */
    border: 1.8px solid rgb(77, 77, 255);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container form {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container form .inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form .inputs input {
    margin: 5px;
    width: 15vw;
    height: 4.5vh;
}

.container form .extra-fields {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
}

.container form .extra-fields .remember-me label {
    cursor: pointer;
}

.container form .extra-fields a {
    text-decoration: none;
    color: black;
}

.container form .extra-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container form .submit,
.container form .reset {
    cursor: pointer;
    width: 8vw;
    height: 5vh;
}